* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.primary {
    background-color: #3882f6;
    color: #f9faf8;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 32px;
    border-bottom: 1px dotted #e5e7eb;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 16px;
    font-size: 20px;
}

main {
    display: flex;
    color: #f9faf8;
    width: 80%;
    gap: 16px;
    padding: 64px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-img {
    flex: 1;
}

.info,
.quote,
.cta {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

h2 {
    font-size: 36px;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.inner-box {
    height: 160px;
    width: 160px;
    border: 8px solid #3882f6;
    border-radius: 50px;
}

.box-text {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 32px;
    font-weight: lighter;
    color: #1f2937;
    font-style: italic;
}

.quote-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.quote-author {
    align-self: flex-end;
}

.cta {
    background-color: #f9faf8;
}

.cta-box {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 16px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

h3 {
    font-size: 24px;
}

.white-border {
    border: 2px solid #f9faf8;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}